<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BusBuzz Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet"
          href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/vendor.bundle.base.css">
    0
    <link rel="stylesheet"
          href="../../static/adminResources/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon"
          href="../../static/adminResources/images/favicon.png"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->


    <!-- admin/header.html -->
    {% include 'admin/header.html' %}
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <div id="settings-trigger"><i class="mdi mdi-format-color-fill"></i>
        </div>
        <div id="theme-settings" class="settings-panel">
            <i class="settings-close mdi mdi-close"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options selected"
                 id="sidebar-default-theme">
                <div class="img-ss rounded-circle bg-light border mr-3"></div>
                Default
            </div>
            <div class="sidebar-bg-options" id="sidebar-dark-theme">
                <div class="img-ss rounded-circle bg-dark border mr-3"></div>
                Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
                <div class="tiles primary"></div>
                <div class="tiles success"></div>
                <div class="tiles warning"></div>
                <div class="tiles danger"></div>
                <div class="tiles info"></div>
                <div class="tiles dark"></div>
                <div class="tiles default light"></div>
            </div>
        </div>

        <!-- admin/menu.html -->
        {% include 'admin/menu.html' %}
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
{#                    <h3 class="page-title">#}
{#                        Add Category#}
{#                    </h3>#}
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a
                                    href="#">Categories</a></li>
                            <li class="breadcrumb-item active"
                                aria-current="page">Add
                                Category
                            </li>
                        </ol>
                    </nav>
                </div>

                <div class="row grid-margin">
                    <div class="col-12">
                        <div class="card">

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                        <div class="row">
                        <div class="col-9" style="margin-top: 15px;">
                            <h4 class="card-title"><span class="mdi mdi-plus"></span>Add Category
                        </h4></div>
                        <div class="col-2 btn bt">
                            <a   class="btn btn-outline-primary btn-fw"
                                 href="/admin/view_categories/"
                               style="margin: -30px; margin-bottom: -30%;
                               margin-left: 5%;" >
                                View Categories
                            </a></div>
                    </div>


                    <hr style="margin-bottom: -1%;">
                                            <form class="cmxform"
                                                  method="post"
                                                  action="/admin/insert_categories/">
                                                {% csrf_token %}
                                                <fieldset>
                                                <br>
                                                    <div class="row">
                                                        <div class="form-group col-6">
                                                            <label class="col-form-label font-weight-bold">
                                                                Category Name:
                                                                <span
                                                                        style="color: red">*</span>
                                                            </label>
                                                            <div >
                                                                <input
                                                                        type="text"
                                                                        name="categoryName"

                                                                        style="margin-left: 7%; width: 80%;"
                                                                        class="form-control"
                                                                        id="categoryName"
                                                                        placeholder="Economy"
                                                                required>
                                                            </div>
                                                            <div id="bus-Registration-Number-err"></div>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label
                                                                    for="status"
                                                                    class="col-form-label font-weight-bold"
                                                            style="margin-left: 2%;">Status:</label>
                                                            <div>

                                                                <select id="categoryStatus"
                                                                        class="form-control"
                                                                        style="margin-left: 10%; height: 43px; width: 80%;"
                                                                        name="categoryStatus">
                                                                <option disabled selected> By default active</option>
                                                                    {% if not CategoryVO.categoryStatus or CategoryVO.categoryStatus == '1' %}
                                                                        <option value="1" selected>
                                                                            Active
                                                                        </option>
                                                                    {% else %}
                                                                        <option value="1">
                                                                            Active
                                                                        </option>
                                                                    {% endif %}
                                                                    {% if CategoryVO.categoryStatus == '2' %}
                                                                        <option value="2"
                                                                                selected>
                                                                            Inactive
                                                                        </option>
                                                                    {% else %}
                                                                        <option value="2">
                                                                            Inactive
                                                                        </option>
                                                                    {% endif %}
                                                                </select>
                                                                <div id="bus-type-err"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group mb-3">
                                                        <label class=" col-form-label font-weight-bold">
                                                            Category
                                                            Description:
                                                            <span
                                                                        style="color: red">*</span>
                                                        </label>
                                                        <textarea
                                                                class="form-control col-11"
                                                                style="margin-left: 3.5%;"
                                                                name="categoryDescription"
                                                                placeholder="a sample value or a short description of the expected format"
                                                                id="categoryDescription"
                                                                rows="5"
                                                                required></textarea>
                                                    </div>
                                                <br>
                                                    <hr>
                                                    {#Submit buttons #}
                                                    <div class="row">
                                                        <div class="col-2"
                                                             style="margin-left: 30%; " >
                                                            <input type="submit"
                                                                   class="btn btn-info"
                                                                   style="background: linear-gradient(to
left,
#ff8e97,
#8b34cc)" value="Submit" >

                                                        </div>

                                                        <div class="col-2">
                                                            <input type="reset"
                                                                   class="btn btn-info"
                                                                   style="background: linear-gradient(to
left,
#ff8e97,
#8b34cc)"
                                                                   value="Reset">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- admin/footer.html -->
            {% include 'admin/footer.html' %}


            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<script src="../../static/adminResources/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/misc.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->

{#            <script src="../../static/adminResources/js/addbustype.js"></script>#}
<script src="../../static/adminResources/js/dashboard.js"></script>

<!-- End custom js for this page-->


</body>

</html>
