<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BusBuzz Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet"
          href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/vendor.bundle.base.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon"
          href="../../static/adminResources/images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'admin/header.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <div id="settings-trigger"><i class="mdi mdi-format-color-fill"></i>
        </div>
        <div id="theme-settings" class="settings-panel">
            <i class="settings-close mdi mdi-close"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options selected"
                 id="sidebar-default-theme">
                <div class="img-ss rounded-circle bg-light border mr-3"></div>
                Default
            </div>
            <div class="sidebar-bg-options" id="sidebar-dark-theme">
                <div class="img-ss rounded-circle bg-dark border mr-3"></div>
                Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
                <div class="tiles primary"></div>
                <div class="tiles success"></div>
                <div class="tiles warning"></div>
                <div class="tiles danger"></div>
                <div class="tiles info"></div>
                <div class="tiles dark"></div>
                <div class="tiles default light"></div>
            </div>
        </div>

        {% include 'admin/menu.html' %}

        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->


        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    {#                    <h3 class="page-title">#}
                    {#                        Trip Locations#}
                    {#                    </h3>#}
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">
                                Buses</a>
                            </li>
                            <li class="breadcrumb-item active"
                                aria-current="page">Add Bus
                            </li>
                        </ol>
                    </nav>
                </div>
                {#            <div class="alert alert-primary" role="alert">#}
                {##}
                {#                <div class="row">#}
                {#                    <div class="col-1" style="margin-top:1%;"><i#}
                {#                            class="mdi mdi-alert-circle menu-icon mdi-48px"></i>#}
                {#                    </div>#}
                {#                    <div class="col-11 ">#}
                {#                        <h5>Add City</h5>#}
                {#                        <p>Please enter the city name and click 'Add +' button#}
                {#                            to add new city.#}
                {#                        </p>#}
                {#                    </div>#}
                {##}
                {#                </div>#}
                {#            </div>#}
                <div class="row grid-margin">
                    <div class="col-12">
                        <div class="card">

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-9"
                                                     style="margin-top: 15px;">
                                                    <h4 class="card-title"><span
                                                            class="mdi
                            mdi-plus"></span>Add Bus
                                                    </h4></div>
                                                <div class="col-2 btn bt">
                                                    <a class="btn btn-outline-primary btn-fw"
                                                       href="{% url 'admin_view_bus' %}"
                                                       style="margin: -30px; margin-bottom: -30%;
                               margin-left: 5%;">
                                                        Bus List
                                                    </a></div>
                                            </div>
                                            <hr>
                                            <form method="post"
                                                  action="{% url 'admin_update_bus' %}">
                                                {% csrf_token %}
                                                <fieldset>
                                                    <div class="row">

                                                        <div class="form-group col-6">

    <label for="busesCategoryId"
           class="col-form-label font-weight-bold">
        Category:
    </label>

    {% for j in buses_vo_list %}

        <select name="busesCategoryId"
                id="busesCategoryId"
                style="margin-left: 3.5%; width: 75%;"
                class="form-control">

            {% for data in category_vo_list %}

                <option value="{{ data.category_id }}"
                        {% if j.bus_category_vo_id == data.category_id %}
                            selected
                        {% endif %}>

                    {{ data.category_name }}

                </option>

            {% endfor %}

        </select>

    {% endfor %}

</div>
                                                        {% for j in buses_vo_list %}
                                                            <input type="hidden"
                                                                   name="busId"
                                                                   class="form-control"
                                                                   value="{{ j.bus_id }}">
                                                            <div class="
                                                    form-group col-6">
                                                                <label class="col-form-label font-weight-bold">
                                                                    Bus Number:
                                                                    <span
                                                                            style="color: red">*</span>
                                                                </label>
                                                                <input
                                                                        class="form-control col-9"
                                                                        style="margin-left: 3.5%;"
                                                                        name="busesNumber"
                                                                        value="{{ j.bus_number }}"
                                                                        id="busesNumber"
                                                                        required></input>
                                                            </div>

                                                            </div>
                                                            <div class="row">
                                                            <div class="
                                                    form-group col-6">
                                                                <label class="col-form-label font-weight-bold">
                                                                    Number of
                                                                    Seats:
                                                                </label>
                                                                <input
                                                                        class="form-control col-9"
                                                                        style="margin-left: 3.5%;"
                                                                        name="busesSeats"
                                                                        id="busesSeats"
                                                                        value="{{ j.bus_seats }}"

                                                                        required></input>
                                                            </div>
                                                            <div class="form-group col-6">
                                                            <label
                                                                    for="status"
                                                                    class="col-form-label font-weight-bold">Status: </label>
                                                            <select name="busesStatus"
                                                                    id="busesStatus"
                                                                    style="margin-left: 3.5%; width: 75%;"
                                                                    class="form-control">

                                                                <option value="1"
                                                                        {% if j.bus_status == '1' %}selected{% endif %}>
                                                                    Active
                                                                </option>

                                                                <option value="2"
                                                                        {% if j.bus_status == '2' %}selected{% endif %}>
                                                                    Inactive
                                                                </option>

                                                            </select>
                                                        {% endfor %}
                                                        </div>
                                                        </div>
                                                    <br>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-2"
                                                             style="margin-left: 30%;">
                                                            <input type="submit"
                                                                   class="btn btn-info"
                                                                   style="background: linear-gradient(to
left,
#ff8e97,
#8b34cc)" value="Update">
                                                        </div>

                                                        <div class="col-2">
                                                            <a href="{% url 'admin_view_bus' %}"
                                                               class="btn btn-info text-light"
                                                               style="background: linear-gradient(to left, #ff8e97, #8b34cc);">
                                                                Cancel
                                                            </a>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% include 'admin/footer.html' %}

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<script src="../../static/adminResources/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/misc.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../../static/adminResources/js/formpickers.js"></script>
<script src="../../static/adminResources/js/form-validation.js"></script>
<script src="../../static/adminResources/js/bt-maxLength.js"></script>
<!-- End custom js for this page-->
</body>

</html>
