<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<h3> BusBuzz </h3>
<hr>

                                                <div class="col-2 btn bt">
                                                    <a class="btn btn-outline-primary btn-fw"
                                                       href="/admin/load_login/">
                                                      
                                                        Login
                                                    </a></div>
                                         



</body>
</html>